$fw-bold: 700;

$clr-background-1: hsl(273, 75%, 66%);
$clr-background-2: hsl(240, 73%, 65%);

$clr-text-primary: hsl(238, 29%, 16%);
$clr-text-hover: hsl(14, 88%, 65%);

$clr-text-neutral-1: hsl(237, 12%, 33%);
$clr-text-neutral-2: hsl(240, 6%, 50%);

$clr-divider: hsl(240, 5%, 91%);
