@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './variables';
@mixin min-width {
  @media screen and (min-width: 425px) {
    @content;
  }
}
html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient($clr-background-1, $clr-background-2);
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding: 1.5rem;
  padding-top: 10rem;
}
.icon {
  cursor: pointer;
  transition: 0.3s;
}
.close {
  transform: rotate(180deg);
  transition: 0.3s;
}
.hide {
  display: none;
}
.font-weight-700 {
  font-weight: $fw-bold;
}
.box-illustration {
  display: none;
}
@include min-width() {
  .box-illustration {
    display: block;
    position: absolute;
    top: 20rem;
    left: -9rem;
  }
}
.card {
  background-color: #fff;
  border-radius: 2rem;
  min-width: 33rem;
  padding: 0 2.5rem 2rem 2.5rem;
  @include min-width() {
    align-items: center;
    display: flex;
    max-width: 92rem;
    padding: 0;
    position: relative;
  }
  &__image {
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: -8rem;
    @include min-width() {
      align-self: stretch;
      background-image: url('../images/bg-pattern-desktop.svg');
      background-repeat: no-repeat;
      background-size: 160%;
      background-position: -30rem center;
      flex: 1 1 50%;
      margin-bottom: 0;
      overflow: hidden;
    }
    & picture {
      transform: translateY(-13rem);
      @include min-width() {
        transform: translate(-5rem, 9rem);
      }
    }
  }
  &__content {
    @include min-width() {
      flex: 1 1 50%;
      padding: 5rem 7rem 5rem 0;
    }
  }
  &__faq {
    border-bottom: 1px solid $clr-divider;
    margin-bottom: 2rem;
  }
  &__title {
    color: $clr-text-primary;
    font-size: 2.8rem;
    font-weight: $fw-bold;
    margin-bottom: 3.5rem;
    text-align: center;
  }
  &__question-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__question {
    color: $clr-text-neutral-1;
    font-size: 1.4rem;
    &:hover {
      color: $clr-text-hover;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  &__answer {
    color: $clr-text-neutral-2;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    max-width: 25rem;
  }
}
