@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './variables';

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient($clr-background-1, $clr-background-2);
  display: grid;
  min-height: 100vh;
  place-items: center;
}
